
.moon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: orbit 3s linear forwards;
}
.sun{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: move 3s linear forwards;
}
.sun, .moon {
    transition: opacity 2s ease-in-out;
  }
@keyframes orbit {
    0% {
      transform: rotate(-25deg) translate(100%) rotate(0deg);
    }
    100% {
      transform: rotate(-145deg) translate(250%) rotate(180deg);
    }
  }

  @keyframes move {
    0% {
      transform: rotate(-150deg) translate(250%) rotate(0deg);
    }
    100% {
      transform: rotate(-45deg) translate(145%) rotate(180deg);
    }
  }